<html>
    <head>
        <title>Films and Their Award Details</title>
    </head>
        <style>
            table th{width:50px;height:50px;background:blue;}
        </style>
    <body>
        <h1 align="center">IMDB Films Details and Their Awards</h1>
        <form action="/" method="post">
            <h2>Search for a film:
                <input type="text" name='condition' style="width:500px;height:40px;"/>
                <input type="submit" value="Search" style="height:40px;">
            </h2>
        </form>
        <table>
            <tr>
                <th style="width:500px" align="center">Title</th>
                <th style="width:100px" align="center">Year</th>
                <th style="width:100px" align="center">Grading</th>
                <th style="width:100px" align="center">Duration</th>
                <th style="width:100px" align="center">Score</th>
                <th style="width:100px" align="center">Genre1</th>
                <th style="width:100px" align="center">Genre2</th>
                <th style="width:100px" align="center">Genre3</th>
                <th style="width:100px" align="center">Gross</th>
                <th style="width:100px" align="center">Event</th>
                <th style="width:100px" align="center">Award</th>
                <th style="width:100px" align="center">Category</th>
            </tr>
            {% for row in rows_films %}
            <tr>
                <td align="center">{{row["Title"]}}</td>
                <td align="center">{{row["Year"]}}</td>
                <td align="center">{{row["Grading"]}}</td>
                <td align="center">{{row["Duration"]}}</td>
                <td align="center">{{row["Score"]}}</td>
                <td align="center">{{row["Genre1"]}}</td>
                <td align="center">{{row["Genre2"]}}</td>
                <td align="center">{{row["Genre3"]}}</td>
                <td align="center">{{row["Gross"]}}</td>
                <td align="center">{{row["eventName"]}}</td>
                <td align="center">{{row["awardName"]}}</td>
                <td align="center">{{row["Category"]}}</td>
            </tr>
            {% endfor %}
        </table>  
    </body>
</html>
